@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.write-machine {
    font-size: 50px;
    font-weight: bold;
    /* height: 10px; */
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    display: inline-flex;
    margin: 100px 0 10px 60px;
  }